.square-button {
    margin-top: 0.75rem;
    margin-right: 0.75rem;
    width: 14rem;
    height: 3rem; 
    border: none; 
    cursor: pointer;
    border: 2px solid #c1c1c1; 
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn-submit {
    background-color: #ac07e3;
    color: #fff;
}

.btn-submit:hover {
    background-color: #9c00c8;
}

.btn-cancel:hover {
    background-color: #cecece;
}

.centered-text {
    text-align: justify;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-right: 2rem;
    margin-left: 1rem;
    opacity: 50%;
  }

  .square-button-unsub{
    margin-top: 0.75rem;
    margin-right: 0.75rem;
    width: 14rem;
    height: 3rem; 
    border: none; 
    cursor: default;
    border: 2px solid #c1c1c1; 
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }

  .square-button-unsub:hover{
    background-color: #cecece;
  }